:root {
    --tamanoTitulo1: 8rem;
    --tamanoTitulo2: calc(var(--tamanoTitulo1) - 2rem);
    --tamanoTitulo3: calc(var(--tamanoTitulo2) - 1.5rem);
    --tamanoTitulo4: calc(var(--tamanoTitulo3) - 2rem);
    --tamanop: calc(var(--tamanoTitulo4) - 1rem);
    --colornegro: #1D1D1B;
    --colorblanco: #f1f1f1;
    --colorazul: #000CEA;
    --colornaranja: #F96231;
    --Applegaramond: "AppleGaramond";
    --Helvetica: "CliniquesHelveticaNeue";

}

@font-face {
    font-family: "CliniquesHelveticaNeue";
    src: url(fuentes/CliniquesHelveticaNeue.otf);
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: var(--colorblanco);
}

img {
    width: 100%;
}

h1, h2, h3, h4, p {
    margin-bottom: 0;
}

h1 {
    font-size: var(--tamanoTitulo1);
    letter-spacing: -5px;
}

h2 {
    font-size: var(--tamanoTitulo2);
    letter-spacing: -2px;

}

h3 {
    font-size: var(--tamanoTitulo3);
    letter-spacing: -3px;
}

h4 {
    font-size: var(--tamanoTitulo4);
    letter-spacing: -2px;
}

p {
    font-size: var(--tamanop);
}

h5{
font-size: 15em;
letter-spacing: -10px;
}

h6{
    font-size: 1.3em;
}

.hola{
    height: 100vh;
}

.header {
    height: auto;
    background-image: url('img.main/fondo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
  }
  .textito{
    position:absolute;
  }

  #menu{
    z-index: 10;
  }

  .btn-bd-dark {
    --bs-btn-hover-color: #f1f1f1;
  }

  .dream > h5{
    letter-spacing: -20px;
  }
  
  .hr {
    color: #F96231 !important;
  }

  .textalignjustify {
    text-align: justify;
}


.textosv12 > p{
    width: 48%;
}

#comentarios{
    height: 100vh;
}

.FOOTER{
    height: 100vh;
}


.fa-bars {
    display: none!important;
    opacity: 0;
}

.menu > .col > .btn:hover {
    font-style: italic;
    transform: scale(1.1);
}

#close2 > i.fa-solid.fa-xmark {
    display: none;
    color: var(--colornegro);
}

.ig, .tiktok, .tw{
    width: 30%;
}

.goods{
    height: 15em;
}

.cositas{
    height: 30em;
}


.modal-footer{
    display: flex;
    justify-content: space-between;
}

.hover:hover{
    transform: scale(1.10);
}


.div-animación-infinite {
    overflow: hidden;
}

.div-elegirscroll-dirección {
    white-space: nowrap;
    font-size: 16px;
    padding: 5% 0;
}

.div-elegirscroll-dirección>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

.div-animación-infinite:hover .div-elegirscroll-dirección>div {
    animation-play-state:paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(70%);
    }

    100% {
        transform: translateX(-100%);
    }
}


.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}




@media (max-width: 1000px) {
    h5{
        font-size: 11em;

    }

    header{
        display: flex;
    
    }

    :root {
    --tamanoTitulo1: 7.8rem;}
    
    #close2 > i.fa-solid.fa-xmark,
    .pantallainicio > i.fa-bars {
        display: flex;
    }

    .fa-bars {
        display: flex!important;
        opacity: 1!important;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5em;
        color: white;
        font-size: 1.5em;
    }

    .menu {
        flex-direction: column;
        height: 75%;
    }

    .menu > .col >.btn {
        height: 3rem;
    }

    #menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        transition: 0.5s;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--colorblanco);
    }


    #close2 {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 2em;
        color: white;
    }

    #close2 > i {
        color: white;
    }

    #close2:hover > i {
        color: black;
        cursor: pointer;
    }
}





@media (max-width: 960px) {

    .as{
        width: 20%;
    }
}

@media (max-width: 890px) {

    .as{
        width: 100%;
    }
}

@media (max-width: 768px) {

    h1{
        font-size: 5em;
    }

    .coments {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {

    h5{
        line-height: 0.8;
    }

    h2{
        font-size: 3em;
    }
   
}
