:root {
    --tamanoTitulo1: 8rem;
    --tamanoTitulo2: calc(var(--tamanoTitulo1) - 2rem);
    --tamanoTitulo3: calc(var(--tamanoTitulo2) - 1.5rem);
    --tamanoTitulo4: calc(var(--tamanoTitulo3) - 2rem);
    --tamanop: calc(var(--tamanoTitulo4) - 1rem);
    --colornegro: #1D1D1B;
    --colorblanco: #f1f1f1;
    --colorazul: #000CEA;
    --colornaranja: #F96231;
    --Applegaramond: "AppleGaramond";
    --Helvetica: "CliniquesHelveticaNeue";

}

@font-face {
    font-family: "CliniquesHelveticaNeue";
    src: url(fuentes/CliniquesHelveticaNeue.otf);
    font-family: "AppleGaramond";
    src: url(fuentes/AppleGaramond.ttf);

}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.ig, .tiktok, .tw{
    width: 30%;
}

body {
    background-color: var(--colorblanco);
}

.FOOTER{
    height: 100vh;
}


.fa-bars {
    display: none!important;
    opacity: 0;
}

.menu > .col > .btn:hover {
    font-style: italic;
    transform: scale(1.1);
}

#close2 > i.fa-solid.fa-xmark {
    display: none;
    color: var(--colornegro);
}

img {
    width: 100%;
}

h1, h2, h3, h4, p {
    color: var(--colornegro);
    margin-bottom: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: var(--tamanoTitulo1);
    letter-spacing: -5px;


}

h2 {
    font-size: var(--tamanoTitulo2);
    letter-spacing: -2px;


}

h3 {
    font-size: var(--tamanoTitulo3);
    letter-spacing: -3px;

}

h4 {
    font-size: var(--tamanoTitulo4);
    letter-spacing: -2px;

}

p {
    font-size: var(--tamanop);
}

.div-animación-infinite {
    overflow: hidden;
}

.div-elegirscroll-dirección {
    white-space: nowrap;
    font-size: 16px;
    padding: 5% 0;
}

.div-elegirscroll-dirección>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

.div-animación-infinite:hover .div-elegirscroll-dirección>div {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(70%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.btn-warning {
    --bs-btn-color: var(--colorblanco); 
    --bs-btn-bg: var(--colornaranja); 
    --bs-btn-border-color: var(--colornaranja);
    --bs-btn-hover-color: var(--colornaranja);
    --bs-btn-hover-bg: #{shade-color(var(--colornaranja), 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--colornaranja);
    --bs-btn-active-bg: #{shade-color(var(--colornaranja), 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

  .estrelladiv {
    opacity: 1;
    display: flex;
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
  }
  
  .estrelladiv:hover .carta {
      transform: rotateY(180deg);
  }
  
.cara {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .cara.detras {
    transform: rotateY(180deg);
  }

    :root {
    --tamanoTitulo1: 7.8rem;}
    
    
@media screen and (max-width: 1000px) {
    :root {
    --tamanoTitulo1: 7.8rem;
    }
    
    #close2 > i.fa-solid.fa-xmark,
    .pantallainicio > i.fa-bars {
        display: flex;
    }

    .fa-bars {
        display: flex!important;
        opacity: 1!important;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.5em;
        color: white;
        font-size: 1.5em;
    }

    .menu {
        flex-direction: column;
        height: 75%;
    }

    .menu > .col >.btn {
        height: 3rem;
    }

    #menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        transition: 0.5s;
        height: 100vh;
        display: flex!important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--colorblanco);
    }


    #close2 {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 2em;
        color: white;
    }

    #close2 > i {
        color: white;
    }

    #close2:hover > i {
        color: black;
        cursor: pointer;
    }

    .first {
        font-size: 5rem;
    }
}

    @media screen and (max-width: 667px) {
        .second{
            font-size: 4rem!important;
        }

        .cositas {
            font-size: 3rem;
        }
    }

  @media only screen and (max-width: 576px) { 
    .estrelladiv {
        opacity: 0;
        display: block;
      }

      .h1 {
        font-size: 4.5rem!important;
    }

    .izq {
        display: flex;
    }


   }